---
import { Image } from "astro:assets";
import Saas from "../../assets/saas.png";
import Handkit from "../../assets/handkit.png";
import SaasMobile from "../../assets/saas-mobile.png";
import HandkitMobile from "../../assets/handkit-mobile.png";
const pastWorks = [
  {
    title:"SaaS Tech Development Website",
    workInvolvedList: [ "Web Design", "Brand Identity", "Copywriting", "Tech" ],
    bgMain:"#96C7B6",
    bgSecondary:"#C6DCEB",
    textColor:"#0D3272",

  },
  {
    title:"Mindful Art Kits Website",
    workInvolvedList: [ "Web Design", "Ecommerce", "Copywriting", "Wellness" ],
    bgMain:"#D39F7B",
    bgSecondary:"#DAC4E8",
    textColor:"#4E335B",

  }
]
---
<section id="work" class="page-layout-constrained my-12">
  <ul id="cards" class="" style={`--numcards:${pastWorks.length}`}>
    {pastWorks?.map((work,index)=>{

        return   ( <li class="card mb-2" id={`card_${index+1}`}>
                      <div
                        class={`card__content  h-full flex flex-col`}
                      
                      >
                          <div class="p-4 md:p-8 pb-0 rounded-2xl z-20 flex items-end justify-between gap-8"
                              style={`background-color: ${work?.bgMain}; color: ${work?.textColor};`}
                          >
                            <div class="aspect-[720/590] md:max-w-[50vw]">
                              <Image 
                                src={index  == 0 ? Saas : Handkit}
                                width={1440}
                                height={1080}
                                alt={work?.title}
                                class={"object-cover rounded-2xl w-full h-auto "}
                              />
                            </div>
                            <div class="aspect-[526/485] max-w-[37vw] hidden md:flex items-end ">
                              <Image 
                                src={index  == 0 ? SaasMobile : HandkitMobile}
                                width={1052}
                                height={970}
                                alt={work?.title}
                                class={"object-cover w-full h-auto rounded-2xl"}
                              />
                            </div>
                          </div>
                          <div
                              class="rounded-b-xl p-3 pt-5 -mt-3 z-10 title-xs lg:pt-6 lg:flex lg:items-center lg:justify-between"
                             style={`background-color: ${work?.bgSecondary};`}
                              >
                            <span>{work?.title}</span>
                            <ul class="mt-2 columns-2 lg:mt-0 lg:columns-4 lg:w-fit ">
                              {work?.workInvolvedList?.map((item) => {
                                return <li class="title-xs text-[14px] lg:title-xs">{item}</li>
                              })}
                            </ul>
                          </div>
                      </div>
                    </li>)
    })}
 
 
 

  </ul>
</section>